/* #stage {position:relative;
width:16em;
height:16em;
border:1px solid #000;
margin:auto;}

#circle {position: absolute;
width:4em;
height:8em;
background:#0ff;
background: linear-gradient(90deg, red, yellow);
border-radius:0%;
animation: move 3s ease infinite, fade-in-out 3s ease infinite;}



@keyframes move {

  0% {left:0;
  top:0;}

  25% {top:0;
  left:12em;
  transform: rotate(-360deg);}

  50% {top:12em;
    left:12em;
    transform: rotate(-720deg);}

  75% {top:12em;
  left:0;
    transform: rotate(-1080deg);}

  100% {left:0;
  top:0;
  transform: rotate(-1420deg);}
}

from {left:0;}
  to {left:12em;}

@keyframes fade-in-out {

  0% {opacity:1;}

   50% {opacity:0;}

    100% {opacity:1;}
} */

#explosion {font-size: 500%;
position:relative;
width:10em;
height:10em;
border:1px solid #000;
margin:auto;
overflow: hidden;
background:black;}



.smoke1 {position:absolute;
  width:0.1em;
height:0.1em;
border-radius: 50%;
  /* border: .5em solid black; */
background: white;
  left:5em ;
  top:5em ;
 animation:explode1 3s ease infinite;
  z-index:1;
}

.smoke2 {position:absolute;
  width:0.1em;
height:0.1em;
border-radius: 50%;
  /* border: .5em solid black; */
background: black;
  left:5em ;
  top:5em ;
 animation:explode2 3s ease infinite;
  z-index:5;
}

.smoke3 {position:absolute;
  width:0.1em;
height:0.1em;
border-radius: 50%;
  /* border: .5em solid black; */
background: white;
  left:5em ;
  top:5em ;
 animation:explode3 3s ease infinite;
  z-index:10;
}

.smoke4 {position:absolute;
  width:0.1em;
height:0.1em;
border-radius: 50%;
  /* border: .5em solid black; */
background: black;
  left:5em ;
  top:5em ;
 animation:explode4 3s ease infinite;
  z-index:15;
}

.smoke5 {position:absolute;
  width:0.1em;
height:0.1em;
border-radius: 50%;
  /* border: .5em solid black; */
background: white;
  left:5em ;
  top:5em ;
 animation:explode5 3s ease infinite;
  z-index:20;
}

.smoke6 {position:absolute;
  width:0.1em;
height:0.1em;
border-radius: 50%;
  /* border: .5em solid black; */
background: black;
  left:5em ;
  top:5em ;
 animation:explode6 3s ease infinite;
  z-index:25;
}

.smoke7 {position:absolute;
  width:0.1em;
height:0.1em;
border-radius: 50%;
  /* border: .5em solid black; */
background: black;
  left:5em ;
  top:5em ;
 animation:explode7 3s ease infinite;
  z-index:30;
}

@keyframes explode1 {

  0% {width:0em;
  height:0em;
  left: 5em;
  top: 5em;}

   8% {width:8em;
  height:8em;
  left: 1em;
  top: 1em;}
 /*
  98% {width:4em;
  height:4em;
  left: 9.2em;
  top: 12.8em;} */

  100% {width:8em;
  height:8em;
  left: 1em;
  top: 1em;}

}

@keyframes explode2 {

  0% {width:0em;
  height:0em;
  left: 5em;
  top: 5em;}

   3% {width:0em;
  height:0em;
  left: 5em;
  top: 5em;}

/*   10% {width:4em;
  height:4em;
  left: 9.2em;
  top: 12.8em;}

  98% {width:4em;
  height:4em;
  left: 9.2em;
  top: 12.8em;} */



     15% {width:7.4em;
  height:7.4em;
  left: 1.3em;
  top: 1.3em;}

     32% {width:8em;
  height:8em;
  left: 1em;
  top: 1em;}

  100% {width:8em;
  height:8em;
  left: 1em;
  top: 1em;}

}

@keyframes explode3 {

  0% {width:0em;
  height:0em;
  left: 5em;
  top: 5em;}

   10% {width:0em;
  height:0em;
  left: 5em;
  top: 5em;}

/*   10% {width:4em;
  height:4em;
  left: 9.2em;
  top: 12.8em;}

  98% {width:4em;
  height:4em;
  left: 9.2em;
  top: 12.8em;} */

  17% {width:6em;
  height:6em;
  left: 2em;
  top: 2em;}

  100% {width:6em;
  height:6em;
  left: 2em;
  top: 2em;}

}

@keyframes explode4 {

  0% {width:0em;
  height:0em;
  left: 5em;
  top: 5em;}

   13% {width:0em;
  height:0em;
  left: 5em;
  top: 5em;}

/*   10% {width:4em;
  height:4em;
  left: 9.2em;
  top: 12.8em;}

  98% {width:4em;
  height:4em;
  left: 9.2em;
  top: 12.8em;} */

   23% {width:6em;
  height:6em;
  left: 2em;
  top:2em;}

  100% {width:6em;
  height:6em;
  left: 2em;
  top: 2em;}

}

@keyframes explode5 {

  0% {width:0em;
  height:0em;
  left: 5em;
  top: 5em;}

   15% {width:0em;
  height:0em;
  left: 5em;
  top: 5em;}

/*   10% {width:4em;
  height:4em;
  left: 9.2em;
  top: 12.8em;}

  98% {width:4em;
  height:4em;
  left: 9.2em;
  top: 12.8em;} */

   20% {width:3.5em;
  height:3.5em;
  left: 3.25em;
  top: 3.25em;}

  100% {width:3.5em;
  height:3.5em;
  left: 3.25em;
  top: 3.25em;}

}

@keyframes explode6 {

  0% {width:0em;
  height:0em;
  left: 5em;
  top: 5em;}

   18% {width:0em;
  height:0em;
  left: 5em;
  top: 5em;}

/*   10% {width:4em;
  height:4em;
  left: 9.2em;
  top: 12.8em;}

  98% {width:4em;
  height:4em;
  left: 9.2em;
  top: 12.8em;} */

   33% {width:3.5em;
  height:3.5em;
  left: 3.25em;
  top: 3.25em;}

  100% {width:3.5em;
  height:3.5em;
  left: 3.25em;
  top: 3.25em;}

}

/* @keyframes explode-fade1 {

  0% {opacity:1;}

   5% {opacity:1;}

   15% {opacity:.4;}

   25% {opacity:0;}

   100% {opacity:0;}
}

@keyframes explode-color1 {

  0% {background: red;}

   10% {background: orange;}

   17% {background: gray;}

   100% {background: gray;}
}
 */
